@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered verticle-middle">
    <tr>
        <th>#</th>
        <th>Referans Adı</th>
        <th>Referans Ünvanı</th>
        <th>Fotoğraf</th>
        <th>Güncelle  -  Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.TestimonialID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>@item.Image</td>
            <td>
                <a href="/Staff/UpdateTestimonial/@item.TestimonialID" class="fa fa-pencil color-muted m-r-5" style="margin-left:10px;"></a>
                <a href="/Staff/DeleteTestimonial/@item.TestimonialID" class="fa fa-close color-danger" style="margin-left:50px"></a>
            </td>
        </tr>
    }
</table>
<a href="/Staff/AddTestimonial/" class="btn mb-1 btn-outline-primary">Yeni Referans Girişi</a>



