@model List<ResultStaffDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered verticle-middle">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Personel Ünvan</th>
        <th>Güncelle  -  Sil</th>       
        <th>Detaylar</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.StaffID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td>
                <a href="/Staff/UpdateStaff/@item.StaffID" class="fa fa-pencil color-muted m-r-5" style="margin-left:10px;"></a>
                <a href="/Staff/DeleteStaff/@item.StaffID" class="fa fa-close color-danger" style="margin-left:50px"></a>
        </td>
            <td>
                <a href="#" class="btn mb-1 btn-outline-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Staff/AddStaff/" class="btn mb-1 btn-outline-primary">Yeni Personel Girişi</a>

